@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');


/********************* resets **********************************/
html, body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  margin-top: 0;
}
/***************************************************************/



/********************* nav menu **********************************/
nav {
  position: fixed;
  top:0;
  height: 60px;
  width: 100vw;
  background-color:#C19A6B;  
  color: blanchedalmond;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 10vw;
  list-style: none;
}

ul {
  list-style: none;
}

nav li {
  padding:10px;
}

a {
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: brown;
  font-weight: bold;
}

nav a:hover {
  background-color: whitesmoke;
  color: chocolate;
  box-shadow: 2px 2px 2px black;
}
/***************************************************************/



/********************* main Section**********************************/
.hero {
  height:48vh;
  width:100vw;
  background-color: gray;
}

.hero p {
  margin-top: -20vh;
  margin-left: 40vw;
  font-size: 5rem;
  font-weight: 800;
  font-family: 'Dancing Script', cursive;
}

.gavel {
  position: relative;
  margin-top:14rem;
  height:35vh;
  width: 38vw;
}

.intro {
  margin: 8rem;
  width: 40vw;
  font-size: 1.2rem;
}

main{
  height: 80vh;
}

.center {
  margin: 10vh 160px;
  font-size: 1.2rem;
}
/***************************************************************/



/************************* blog section **************************************/
.wrapper {
  margin-bottom: 16vh;
}

.blogWrapper a:hover {
  text-decoration: underline;
}

.info {
  margin-top: -12px;
  font-size: 1rem;
}

hr {
  margin-left: 0;
  height: 1px;
  width: 50%;
  background-color: black;
}

.posts {
  width:40%;
}

.button {
  position: absolute;
  margin-top: 5rem;
  padding: 10px;
  font-size: 1.1rem;
  color: brown;
  background-color: lightgray;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
}
/***************************************************************/



/**************************contact page*************************************/
.formSection {
  align-self: center;
  position: relative;
  top:8rem;
  height: 25rem;
  width: 30vw;
  margin:  auto;
  padding: 3rem 2rem 0 2rem;
  background-color: lightgrey;
  border: 1px solid #50514f;
  border-radius: 40px;
  box-shadow: 2px 2px 4px black;
}

fieldset {
  border: 0;
}

.emailForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
input, textarea {
  display: block;
  width: 20vw;
}
  
.submitButton {
  width:10vw;
  margin: 1rem auto 2rem auto;
  padding:.5vw;
  border-radius: 30px;
  border:1px black;
  background-color: #50514f;
}
  
.submitButton:hover {
background-color: grey;
}
/***************************************************************/




/*************************** footer ************************************/
footer {
  position: fixed;
  bottom: 0px;
  padding:25px;
  width: 100vw;
  text-align: center;
  background-color: black;
  color: whitesmoke;
}
/***************************************************************/